body{
	background-color:  #f2f3f4 ;
}
#header{
	margin-top: 13%;
	height: 200px;
	width:  100%;
	font-size: 600%;
	text-align: center;
	font-family: 'Fredoka One', cursive;

}
#id_titulo_libro{
	width: 20%; 
	height: 40px;
	border-radius: 8px;
	margin-left: 40%;
	font-size: 32px;
}
.btn{
	height: 35px;
	width:  10%;
	margin-left: 45%;
	margin-top: 1%;
	background-color: transparent;
	border-radius: 12px;
}

#table{
	margin-left:30%;
	border:1px solid #000;
	font-size: 250%;
}
.td{
	border:1px solid #000;
	margin:1px 5px 1px 5px;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}


li a {
    display: block;
    color: #a4a4a4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #000;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}
.active{
	color: #000;
}
